.post{
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    border-bottom: 1px solid var(--c-border);
    border-right: 1px solid var(--c-border);
    grid-row-gap: 15px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    border-bottom-right-radius: 25px;
    box-sizing: content-box;
    resize: both;
    margin-bottom: 8em;
    background-color: var(--c-primary);

}


.video{

    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: auto;
    max-width: 100%;

}
.article{
    resize: both;

}
.title{

    grid-area: title;
    padding: 25px 0 25px 25px;
    font-size: 2em;
    font-weight: bold;
}

.text{

    padding: 0 25px 25px 25px;
    font-size: 1em;
    margin-bottom: 30px;
    font-family: "Times New Roman", serif;

    text-align: justify;
    text-justify: inter-word;


}

.footer{

    position: absolute;
    bottom:0;
    right:0;
    color: var(--c-primary);
    background-color: var(--c-yellow);
    text-align: center;
    padding: 10px 30px;
    font-size: 1em;
    font-weight: bold;
    box-sizing: border-box;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    border-bottom-right-radius: 25px;
    -webkit-border-top-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    border-top-left-radius: 25px;

}