@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;

}

input,
textarea,
button,
select,
label,
a{
      -webkit-tap-highlight-color: transparent;
}
html{
    scroll-behavior: smooth;

}
body {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: var(--c-primary);
    color: var(--c-text-color);
}

p{
    font-family: medium-content-serif-font, Source Serif Pro, Cambria, "Times New Roman", Times, serif;
}
body::-webkit-scrollbar {
    width: 8px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--c-yellow) var(--c-yellow-10);
}
body::-webkit-scrollbar-track {
    background: var(--c-yellow-10);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--c-yellow) ;
    border-radius: 6px;
    border: 3px solid var(--c-yellow-10);
}
button:focus {
    outline: none;
}
.text-color-primary{
    p{
        color: var(--c-text-color);
        font-family: -apple-system, BlinkMacSystemFont, 'Inter', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    }
    span{
        color: var(--c-text-color);

    }
}


.bg-box-primary{
    background-color: var(--c-primary);
    box-shadow: 0 10px 15px -3px var(--c-shadow-10), 0 4px 6px -2px var(--c-shadow-5);
}
.notion {

    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2em;
    line-height: 1.5;
    color: var(--c-text-color);
    caret-color: var(--c-text-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.notion > * {
    padding: 3px 0;
}

.notion * {
    margin-block-start: 0;
    margin-block-end: 0;
}

.notion-app {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #fff;
}

.notion-cursor-listener {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex: 1 1 0;
    background: #fff;
}

.medium-zoom-overlay {
    z-index: 100;
}

.medium-zoom-image {
    border-radius: 0;
    z-index: 101;
}

.notion-frame {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.notion-scroller {
    display: flex;
    flex-direction: column;
    z-index: 1;
    flex-grow: 1;
    position: relative;
    align-items: center;
    overflow: auto;
    margin-right: 0;
    margin-bottom: 0;
}

.notion-red {
    color: rgb(224, 62, 62);
}
.notion-pink {
    color: rgb(173, 26, 114);
}
.notion-blue {
    color: rgb(11, 110, 153);
}
.notion-purple {
    color: rgb(105, 64, 165);
}
.notion-teal {
    color: rgb(15, 123, 108);
}
.notion-yellow {
    color: rgb(223, 171, 1);
}
.notion-orange {
    color: rgb(217, 115, 13);
}
.notion-brown {
    color: rgb(100, 71, 58);
}
.notion-gray {
    color: rgb(155, 154, 151);
}
.notion-red_background {
    background-color: var(--c-notion-red);
}
.notion-pink_background {
    background-color: var(--c-notion-pink);
}
.notion-blue_background {
    background-color: var(--c-notion-blue);
}
.notion-purple_background {
    background-color: var(--c-notion-purple);
}
.notion-teal_background {
    background-color: var(--c-notion-green);
}
.notion-yellow_background {
    background-color: var(--c-notion-yellow);
}
.notion-orange_background {
    background-color: var(--c-notion-orange);
}
.notion-brown_background {
    background-color: var(--c-notion-brown);
}
.notion-gray_background {
    background-color: var(--c-notion-gray);
}
.notion-red_background_co {
    background-color: rgba(251, 228, 228, 0.3);
}
.notion-pink_background_co {
    background-color: rgba(244, 223, 235, 0.3);
}
.notion-blue_background_co {
    background-color: rgba(221, 235, 241, 0.3);
}
.notion-purple_background_co {
    background-color: rgba(234, 228, 242, 0.3);
}
.notion-teal_background_co {
    background-color: rgba(221, 237, 234, 0.3);
}
.notion-yellow_background_co {
    background-color: rgba(251, 243, 219, 0.3);
}
.notion-orange_background_co {
    background-color: rgba(250, 235, 221, 0.3);
}
.notion-brown_background_co {
    background-color: rgba(233, 229, 227, 0.3);
}
.notion-gray_background_co {
    background-color: rgba(235, 236, 237, 0.3);
}

.notion b {
    font-weight: 600;
}

.notion-title {
    font-size: 2.5em;
    font-weight: 700;
    margin-top: 0.75em;
    margin-bottom: 0.25em;
}

.notion-h1,
.notion-h2,
.notion-h3 {
    font-weight: 600;
    line-height: 1.3;
    padding: 3px 2px;
}

.notion-h1 {
    font-size: 1.875em;
    margin-top: 1.4em;
}
.notion-h1:first-child {
    margin-top: 0;
}
.notion-h2 {
    font-size: 1.5em;
    margin-top: 1.1em;
}
.notion-h3 {
    font-size: 1.25em;
    margin-top: 1em;
}
.notion-page-cover {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 30vh;
    min-height: 30vh;
    padding: 0;
}

.notion-page {
    padding: 0;
    margin: 0 auto;
    max-width: 708px;
    width: 100%;
}

@media only screen and (max-width: 730px) {
    .notion-page {
        padding: 0 2vw;
    }
}

.notion-page-offset {
    margin-top: 96px;
}

span.notion-page-icon-cover {
    height: 78px;
    width: 78px;
    font-size: 78px;
    display: inline-block;
    line-height: 1.1;
    margin-left: 0;
}

span.notion-page-icon-offset {
    margin-top: -42px;
}

img.notion-page-icon-cover {
    border-radius: 3px;
    width: 124px;
    height: 124px;
    margin: 8px;
}

img.notion-page-icon-offset {
    margin-top: -80px;
}

.notion-full-width {
    padding: 0 40px;
    max-width: 100%;
}

.notion-small-text {
    font-size: 14px;
}
.notion-quote {
    white-space: pre-wrap;
    word-break: break-word;
    border-left: 3px solid currentcolor;
    padding: 0.2em 0.9em;
    margin: 0;
    font-size: 1.2em;
}
.notion-hr {
    margin: 6px 0;
    padding: 0;
    border-top-width: 1px;
    border-color: rgba(55, 53, 47, 0.09);
}
.notion-link {
    color: inherit;
    word-break: break-word;
    text-decoration: underline;
    text-decoration-color: inherit;
}
.notion-blank {
    min-height: 1rem;
    padding: 3px 2px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.notion-page-link {
    display: flex;
    color: var(--c-text-color);
    text-decoration: none;
    height: 30px;
    margin: 1px 0;
    transition: background 120ms ease-in 0s;
}
.notion-page-link:hover {
    background: var(--c-yellow);
}

.notion-page-icon {
    font-size: 1.1em;
    margin-right: 4px;
    margin-top: 2px;
    margin-left: 2px;
}
img.notion-page-icon {
    display: block;
    object-fit: cover;
    border-radius: 3px;
    width: 20px;
    height: 20px;
}

.notion-icon {
    display: block;
    width: 18px;
    height: 18px;
    color: rgba(55, 53, 47, 0.4);
}

.notion-page-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    line-height: 1.3;
    border-bottom: 1px solid rgba(55, 53, 47, 0.16);
    margin: 4px 0;
}

.notion-inline-code {
    color: #eb5757;
    padding: 0.2em 0.4em;
    background: rgba(135, 131, 120, 0.15);
    border-radius: 3px;
    font-size: 85%;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.notion-list {
    margin: 0;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

.notion-list-disc {
    list-style-type: disc;
    padding-inline-start: 1.7em;
    margin-top: 0;
    margin-bottom: 0;
}
.notion-list-numbered {
    list-style-type: decimal;
    padding-inline-start: 1.6em;
    margin-top: 0;
    margin-bottom: 0;
}

.notion-list-disc li {
    padding-left: 0.1em;
}

.notion-list-numbered li {
    padding-left: 0.2em;
}

.notion-list li {
    padding: 6px 0;
    white-space: pre-wrap;
}

.notion-asset-wrapper {
    margin: 0.5rem auto 0.5rem;
    max-width: 100%;
}

.notion-asset-wrapper iframe {
    border: none;
}

.notion-text {
    word-break: break-word;
    line-height: 28px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    white-space: pre-wrap;
    caret-color: var(--c-text-color);
    padding: 3px 2px;
}
.notion-block {
    padding: 3px 2px;
}

.notion .notion-code {
    font-size: 85%;
}

.notion-code {
    padding: 30px 16px 30px 20px;
    margin: 4px 0;
    border-radius: 3px;
    tab-size: 2;
    display: block;
    box-sizing: border-box;
    overflow-x: scroll;
    background: rgb(247, 246, 243);
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.notion-column {
    padding-top: 12px;
    padding-bottom: 12px;
}

.notion-column > *:first-child {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.notion-column > *:last-child {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.notion-row {
    display: flex;
    overflow: hidden;
}

.notion-bookmark {
    margin: 4px 0;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid var(--c-border);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    user-select: none;
    &:hover{
        background: var(--c-text-color);
        border: 1px solid var(--c-text-color);
    }
    transition: var(--fade);
}

.notion-bookmark > div:first-child {
    flex: 4 1 180px;
    padding: 12px 14px 14px;
    overflow: hidden;
    text-align: left;
    color: var(--c-text-color);
    &:hover{
        color: var(--c-primary);
        .notion-bookmark-link > div {
            color: var(--c-primary);
        }
    }
}

.notion-bookmark-title {
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 24px;
    margin-bottom: 2px;
}

.notion-bookmark-description {
    font-size: 12px;
    line-height: 16px;
    opacity: 0.6;
    height: 32px;
    overflow: hidden;
}

.notion-bookmark-link {
    display: flex;
    margin-top: 6px;
}

.notion-bookmark-link > img {
    width: 16px;
    height: 16px;
    min-width: 16px;
    margin-right: 6px;
}

.notion-bookmark-link > div {
    font-size: 12px;
    line-height: 16px;
    color: var(--c-yellow);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.notion-bookmark-image {
    flex: 1 1 180px;
    position: relative;
}

.notion-bookmark-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.notion-column .notion-bookmark-image {
    display: none;
}

@media (max-width: 640px) {
    .notion-bookmark-image {
        display: none;
    }

    .notion-row {
        flex-direction: column;
    }

    .notion-row > *,
    .notion-column > * {
        width: 100% !important;
    }
}

.notion-spacer:last-child {
    display: none;
}

.notion-image-inset {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 1px;
}

.notion-image-caption {
    padding: 6px 0;
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(55, 53, 47);
    font-size: 14px;
    line-height: 1.4;
    color: var(--c-text-color);
}

.notion-callout {
    padding: 16px 16px 16px 12px;
    display: inline-flex;
    width: 100%;
    border-radius: 3px;
    border-width: 1px;
    align-items: center;
    box-sizing: border-box;
    margin: 4px 0;
}
.notion-callout-text {
    margin-left: 8px;
}

.notion-toggle {
    padding: 3px 2px;
}
.notion-toggle > summary {
    cursor: pointer;
    outline: none;
}
.notion-toggle > div {
    margin-left: 1.1em;
}

.notion-table,
.notion-th,
.notion-td {
    border: 1px solid rgba(55, 53, 47, 0.09);
    border-collapse: collapse;
}

.notion-table {
    width: 100%;
    border-left: none;
    border-right: none;
    border-spacing: 0;
    white-space: nowrap;
}

.notion-th,
.notion-td {
    font-weight: normal;
    padding: 0.25em 0.5em;
    line-height: 1.5;
    min-height: 1.5em;
    text-align: left;
    font-size: 14px;
}

.notion-td.notion-bold {
    font-weight: 500;
}

.notion-th {
    color: rgba(55, 53, 47, 0.6);
    font-size: 14px;
}

.notion-td:first-child,
.notion-th:first-child {
    border-left: 0;
}

.notion-td:last-child,
.notion-th:last-child {
    border-right: 0;
}

.notion-gallery {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: 1fr;
    gap: 16px;
    border-top: 1px solid rgba(55, 53, 47, 0.16);
    padding-top: 16px;
    padding-bottom: 4px;
}
.notion-gallery-card {
    display: block;
    color: inherit;
    text-decoration: none;
    box-shadow: rgba(15, 15, 15, 0.1) 0 0 0 1px,
    rgba(15, 15, 15, 0.1) 0 2px 4px;
    border-radius: 3px;
    background: white;
    overflow: hidden;
    transition: background 100ms ease-out 0s;
    position: static;
    height: 100%;
}

.notion-gallery-content {
    padding: 8px 10px 6px;
    font-size: 12px;
    white-space: nowrap;
}

.notion-gallery-data.is-first {
    white-space: nowrap;
    word-break: break-word;
    caret-color: rgb(55, 53, 47);
    font-size: 14px;
    line-height: 1.5;
    min-height: 21px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notion-page-header {
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 45px;
    min-height: 45px;
    z-index: 9;
}

.notion-nav-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    background: #fff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    text-size-adjust: 100%;
    line-height: 1.5;
    font-size: 14px;
}

.notion-nav-breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    flex-grow: 0;
    min-width: 0;
    margin-right: 8px;
}

.notion-nav-breadcrumb {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    color: rgb(55, 53, 47);
    text-decoration: none;
    margin: 1px 0;
    padding: 4px 6px;
    border-radius: 3px;
    transition: background 120ms ease-in 0s;
    user-select: none;
    background: transparent;
    cursor: pointer;
}

img.notion-nav-icon {
    width: 18px !important;
    height: 18px !important;
}

.notion-nav-icon {
    font-size: 18px;
    margin-right: 6px;
    line-height: 1.1;
    color: #000;
}

.notion-nav-breadcrumb:not(.notion-nav-breadcrumb-active):hover {
    background: rgba(55, 53, 47, 0.08);
}

.notion-nav-breadcrumb:not(.notion-nav-breadcrumb-active):active {
    background: rgba(55, 53, 47, 0.16);
}

.notion-nav-breadcrumb.notion-nav-breadcrumb-active {
    cursor: default;
}

.notion-nav-spacer {
    margin: 0 2px;
    color: rgba(55, 53, 47, 0.4);
}
